
html, body {
    background-color: #f2f2f2;
    color: #636b6f;
    font-family:"Tahoma";
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow:auto;
}

.full-height {
    height: 100vh;

}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

}

.m-b-md {
    margin-bottom: 30px;
}

.font-menu{
    font-family:"Tahoma";
}
.footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 3.0rem;
    background-color: #37474F;
    float: bottom;
    z-index: 1;

}
